
/* variables */

:root{
    --colorNav : #6F42C1;
    --fondo : #1A0934;
    --colorLetras : #28F0E2;
    --bs-navbar-brand-color: #fff;
}



/* importación de fonts */

/* promotions */

/* navbar */


/* icons */


/* namelogo */


/* categories */